*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
}

p{
  margin: 33px;
  font-size: 13px;
}

th{
  padding-bottom: 5px;
}

tbody{
  font-size: 13px;
}

td{
  padding: 0 5px 7px;
}

h2{
  padding: 13px 0;
}

.field{
  padding-bottom: 13px;
}

h4{
  font-size: 13px;
}